
<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item [disabled]="shoppingList.isEmpty" (click)="removeAll()">
        <ion-icon slot="start" name="trash-outline"></ion-icon>
        <ion-label>Eliminar todos los items</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title> Mi lista de la compra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  id="main-content">
  <ion-item *ngIf="shoppingList.isEmpty" class="ion-text-center" lines="none">
    <ion-label>No hay nada en la lista</ion-label>
  </ion-item>

  <ion-list>
    <ion-reorder-group
      [disabled]="false"
      (ionItemReorder)="handleReorder($any($event))"
    >
      <ion-item-sliding  *ngFor="let item of shoppingList.items">
        <ion-item *ngIf="!shoppingList.isEmpty">
          <ion-label>{{item}}</ion-label>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="removeItem(item)">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-reorder-group>
  </ion-list>
</ion-content>
